@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";

body {
  color: #2e363e;
  font-family: "Noto Sans KR", sans-serif;
  height: 1300vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
