.icon-row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.icon-row__icon {
  /* 6.25 댓글에서 가지고온 코드, 아이콘 컴포넌트[icon-row__icon]를 추가하면 자동 정렬이 됨. */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

.icon-row__icon:hover {
  cursor: pointer;
  color: black;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}
